/.vscode/
/mta_archives/
/srv/node_modules/
/srv/default-env.json
/srv/package-lock.json
/ui/node_modules/
/ui/default-env.json
/ui/package-lock.json
package-lock.json
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
